body {
  background-color: #000;
}

#stats {
    width: 1200px;
    height: 75px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    border: 2px solid rgba(98, 39, 39, 0.6);
    background: rgba(255,255,255,0);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(24%, rgba(255,255,255,0)), color-stop(100%, rgba(143,57,57,0.5)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
background: linear-gradient(135deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8f3939', GradientType=1 );
}

#stats li {
    display: list-item;
    list-style-type: none;
    color: #fff;
    font-size: 12px;
}

#stats ul {
    display: inline-block;
    float: left;
    text-align: left;
    margin-top: 10px;
}

#intro {
    max-width: 750px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    line-height: 1.25;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    padding-bottom: 30px;
    color: #a3a3a3;
}

#newsh1 {
    max-width: 700px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    line-height: 1.25;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    color: #a3a3a3;
    margin-top: -10px;
    font-size: 48px;
}

#news {
    max-width: 700px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    line-height: 1.25;
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    color: #a3a3a3;
    font-size: 18px;
    display: block;
    list-style-type: none;
}

#stats ul:not(.firstul) {
    margin-left: 100px;
}

#nav {
    width: 1200px;
    height: 75px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    border: 2px solid rgba(98, 39, 39, 0.6);
    background: rgba(255,255,255,0);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(24%, rgba(255,255,255,0)), color-stop(100%, rgba(143,57,57,0.5)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
background: linear-gradient(135deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8f3939', GradientType=1 );
}

#user {
    font-size: 32px;
    margin-top: 0px;
    color: rgba(156, 48, 48, 1);
    -webkit-text-stroke: 1.5px black;
    text-shadow: 2px 2px 2px darkred,
                       1px 1px 0px #000,
                       3px 3px 0px #000,
                       4px 4px 2px #000;
}

#nav li {
    display: inline;
    font-size: 21px;
    text-align: center;
    line-height: .8;
    color: #a3a3a3;
    text-shadow: 1px 1px 1px #111,
                       2px 2px 4px #000;
}

#nav li:hover {
    color: #e0e0e0;
    text-shadow: 2px 2px 2px #222,
                       2px 2px 3px #333,
                       3px 3px 0px #000;
}

#nav li:not(.first) {
    margin-left: 40px;
}

a {
    text-decoration: none;
    outline: 0;
}

select:focus {
    outline: 0;
}

*:focus {
    outline: 0;
}
ul a:hover {
    text-decoration: none;
}

select {
  background-color: rgba(0, 0, 0, 0);
  border-color: #941919;
  color: #941919;
  margin: auto;
  margin-left:450px;
  margin-top: 15px;
  float: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 18px;
}


option {
    text-transform: lowercase;
    background-color: #000;
}

main {
    width: 1200px;
    height: 500px;
    margin: auto;
    border: 2px solid rgba(98, 39, 39, .6);
    border-radius: 10px;
    margin-top: 5px;
    background: rgba(255,255,255,0);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(24%, rgba(255,255,255,0)), color-stop(100%, rgba(143,57,57,0.5)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
background: linear-gradient(135deg, rgba(255,255,255,0) 24%, rgba(143,57,57,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8f3939', GradientType=1);
}

#battleButton {
  background-color: rgba(0, 0, 0, 0);
  border-color: #941919;
  color: #941919;
  border-radius: 10px;
  margin: auto;
  margin-left: 50px;
  margin-top: 15px;
  height: 50px;
  width: 100px;
  font-size: 18px;
  text-transform: uppercase;
}

#help, #noHelp {
  background-color: rgba(0, 0, 0, 0);
  border-color: #941919;
  color: #941919;
  border-radius: 10px;
  margin: auto;
  float: none;
  height: 50px;
  width: 100px;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 100px;
}

#help {
    margin: auto;
    margin-left: 495px;
}

#noHelp {
    margin: auto;
}

#dam {
  color: #941919;
  font-family: sans-serif;
  font-size: 18px;
  max-width: 40%;
  min-width: 40%;
  text-align: center;
  float: left;
  margin: 40px;
  margin-left: 100px;
  max-height: 350px;
  overflow-y: auto;
}

#monsterdam {
  color: #941919;
  font-family: sans-serif;
  font-size: 18px;
  max-width: 40%;
  min-width: 40%;
  text-align: center;
  margin-right: 100px;
  float: right;
  margin: 40px;
  max-height: 350px;
  overflow-y: auto;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
